source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://api.nuget.org/v3/index.json
framework >= net461

nuget System.ValueTuple 4.3.0 framework: >= net461
nuget FSharp.Core
nuget FSharp.Data.SqlClient
nuget Suave
nuget Fable.JsonConverter
nuget Newtonsoft.Json
nuget Expecto
nuget fake
nuget Argu
nuget SQLProvider
nuget Microsoft.SqlServer.Dac
nuget FSharp.Compiler.Tools